**/index/createPassword.html
**/index/emailSend.html
**/index/login.html
**/index/createAccount.html
**/index/editAccount.html
**/index/home.html
**/index/menuDesktop.html
**/index/menuMobile.html
**/index/myOrder.html
**/index/myOrderS.html
**/index/navBar.html
**/index/productDetails.html
**/index/shoppinCart.html